 /* Global */

 :root{
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-deep-pink: #FF8ACA;
  --color-black: #4d4d4d;
  --color-grey: #616161;
  --color-light-gray: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-light-yellow: #FBFAE2;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-yellow-green: #BEEBA9;
  --color-sky-blue: #A9D7EB;
  --color-deep-blue: #4280EB;
  --color-dark-deep-blue: #627BA3;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;


  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;

 }

 /* Universal tages */
 * {
  box-sizing: border-box;
 }

 body{
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: default;
}

 a{
  text-decoration: none;
  color: var(--color-white);
 }

 ul{
  list-style: none;
  padding-left: 0;
 }

 button{
  background-color: transparent;
  border: none;
  cursor: pointer;
 }



 /* Typography */

 h1{
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
 }

 h2{
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
 }

 h3{
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
 }

 p{
  font-size: var(--font-regular);
  font-weight:  var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
 }

 nav{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
}
/* Section Common */


section{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.section__container{
  max-width: 1200px;
}


.section__title{
  font-size: 32px;
  position: absolute;
  font-weight: bold;
}


 /* Nav */
 #navbar{
  display: flex;
  position: relative;
  width: 100%;
  height: 6%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  color: var(--color-black);
  box-shadow: 0 3px 3px -2px lightgray; 
  transition: all var(--animation-duration) ease-in-out;
  
 }
 
 .navbar__menu{ 
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 }


 #navbar.navbar__dark{
  background-color: none; 
 }

 .navbar__logo{
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
 }

 .navbar__menu{
  display: flex;
  font-size: 12px;
  font-weight: var(--weight-regular);
 }

 .navbar__menu__item{
  cursor: pointer;
 }

 .navbar__menu__item.active{
  font-weight: bold;
  color: var(--color-deep-blue)
 }

 .navbar__menu__item:hover{
  color: var(--color-deep-blue)
 }

 /* Home */

 #home{
  display: flex;
  flex-direction: row;
  justify-content:space-around;

  background-color: var(--color-white);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  min-width: 1200px;
 }
 
 .home__container__left{
  height: 340px;
  width: 300px;
  min-width: 300px;
 }

 .home__avatar{
  padding: 2px;
  border: 2px solid var(--color-white);
  border-radius: 50%;
  width: 200px;
  height: 200px;
 }
 
 .home__name{
  font-size: var(--font-medium);
  color: var(--color-black)
 }

 .home__status{
  font-size: var(--font-micro);
  
  color: var(--color-light-gray)
 }

 .home__school{
  font-size: var(--font-regular);
  color: var(--color-deep-blue)
 }


 .home__container__right{
  padding-left: 60px;
  height: 340px;
  width: 820px; 
  min-width: 800px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
 }

 .home__description{
  font-size: var(--font-small);
  white-space: pre-line;
  text-align: start;
 } 

 .home__mini__profile {  
  
  width: 100%;
  height: 140px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
 }


.home__contact, .home__education {
  font-size: 20px;
  font-weight: bold;
  width: 50%;
  text-align: left;
}

.contact_li_container, .edu_li_container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.fa-solid { 
  margin-right: 2px;
}
.contact_li, .edu_li {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 300;
  width: 370px;
  height: 30px;
  margin: 6px;
}

.contact_title, .edu_title{
 width: fit-content;
 font-weight: 500;
}

.edu_period {
  font-size: 10px;
  font-weight: 200;
}

.edu_detail{
  font-size: 10px;
  font-weight: 400;
}


/* Publications */

.section__publications{
  /* padding-left: 120px; */
  background-color: #f1f1f1;
  min-height: 300px;
}
.publication__item{
  display: flex;
  flex-direction: row;
  background-color: red;
}
.publication__image {
  width: 260px;
  height: 170px;
  border-radius: 10%;
  display: block;
}

.publication__details{
  display: flex;
  flex-direction: column;
}

.publication__title{
  font-weight: bold;
}

.publication__conference{
  font-weight: bold;
}



@media screen and (max-width: 768px) {


  .section{
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 0;
    padding-bottom: 0;
  }

  body{
    width: 100%;
    height: 100%;
    overflow: scroll;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  /* Navbar */
  #navbar{
    display: flex;
    flex-direction: column;
    display: none;
  }

  .navbar__menu{
    display: None;
  }

  .navbar__menu__container{
    width: 100%;
  }

  #home {
    display: flex;
    flex-direction: column;    
    align-items: center;
    min-width: 0px;
    width: 100%;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 0;
  }
  
  .home__container__left{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home__container__right{
    height: fit-content;

    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column; 
    
    min-width: 0;
    width: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .home__description{
    font-size: 10px;
    width: 100%;
    margin-left: 0.5px;
    text-align: center;
  }

  .home__mini__profile{
    display: flex;
    flex-direction: column;
    align-items: start;
    width:fit-content;
    height:fit-content;
    margin-top: 12px;
  }

  .contact_li_container, .edu_li_container{
    width: 100%;
  }

  .contact_li, .edu_li{
    width: 100%;
  }


  .home__contact, .home__education{
    width: 100%;
  }


  #publications{
    display: none;
  }

}